<div class="footer_container">
    <div class="right_side">
        <div class="study_links">
            <h3 class="heading">Study Materials</h3>
            <ul class="study_items">
                <li><a href="#">Angular</a></li>
                <li><a href="#">AWS Cloud</a></li>
                <li><a href="#">SQL</a></li>
                <li><a href="#">.Net core</a></li>
            </ul>
        </div>
        <div class="youtube_links">
            <h3 class="heading">YouTube Links</h3>
            <ul class="youtube_items">
                <li><a href="#">Free code camp</a></li>
                <li><a href="#">.Net community</a></li>
                <li><a href="#">LOve babbar</a></li>
                <li><a href="#">Apna collage</a></li>
            </ul>
        </div>
        <div class="github_links">
            <h3 class="heading">GitHub Repos</h3>
            <ul class="git_items">
                <li><a href="#">Repo 1</a></li>
                <li><a href="#">Repo 2</a></li>
                <li><a href="#">Repo 3</a></li>
                <li><a href="#">Repo 4</a></li>
            </ul>
        </div>
    </div>
    <div class="left_side">
        <form class="contact_form">
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Enter your email">
            
            <label for="message">Message</label>
            <textarea id="message" placeholder="Your message"></textarea>
            
            <button type="submit">Send</button>
        </form>
    </div>
</div>
