<div class="about-section">
    <div class="Text_container">
        <h1 class="myname">BASAVARAJ</h1>
        <p class="small_message">A elegant software Engineer with the great skills</p>
        <p class="discription" >I am software developer with 3+ years of experience at Clarivate, specializing in .NET Core, C#, SQL Server, and backend development.  enhancing backend features and gaining AWS knowledge. With a background in Electronics and Communication Engineering (CMRIT, 8.2 CGPA) , I brings a diverse technical skill set. Passionate about AI and full-stack development, he is transitioning towards AI engineering while building projects in Node.js, React.js, and Angular. 🚀</p>
        <div class="social-icons">
            <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-square-x-twitter"></i></a>
            <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com" target="_blank"><i class="fab fa-github"></i></a>
        </div>
    </div>
</div>