<div class="workHistoryMainContainer">
    <div class="timline-section">
        <div class="timeline-items">
            <div class="timeline-item">
                <div class="timeline-dot"></div>
                <div class="timeline-Date">2022 july - 2022-November</div>
                <div class="timeline-content">
                    <h1>Clarivate</h1>
                    <p>Joined as the Clarivate as a intern and finished training and did capstone project as part of training</p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-dot"></div>
                <div class="timeline-Date">2022-November - 2024-October</div>
                <div class="timeline-content">
                    <h1>Clarivate</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi a facere hic eum suscipit maxime</p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-dot"></div>
                <div class="timeline-Date">2022-october</div>
                <div class="timeline-content">
                    <h1>Clarivate</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi a facere hic eum suscipit maxime</p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-dot"></div>
                <div class="timeline-Date">Present</div>
                <div class="timeline-content">
                    <h1>Clarivate</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi a facere hic eum suscipit maxime</p>
                </div>
            </div>
        </div>
    </div>
</div>